.input-hidden {
    display: none;
  }
  .required {
    font-size: .75rem;
    margin-top: .125rem;
    display: block;
    color: rgb(194, 57, 52);
  }
  .error {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(194, 57, 52) !important;
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset !important;
    background-clip: padding-box !important;
  }