<template>
    <div class="slds-form-element">
        <label class="slds-form-element__label" for="typeahead-input"><abbr class="slds-required" if:true={isrequired}
                title="required">* </abbr>{label}</label>
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="true"
                    aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right input-container"
                        role="none" onclick={handleInputClicked}>
                        <input type="text" class={accountClass} id="typeahead-input" onkeyup={inputKeyUp}
                            aria-autocomplete="list" aria-controls="typeahead_dropdown" autocomplete="off"
                            role="textbox" placeholder={inputPlaceholder} />
                        <span
                            class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                            <lightning-icon icon-name="utility:search" size="x-small"></lightning-icon>
                        </span>
                    </div>

                    <div if:true={selectedAccount} class="slds-box slds-box_x-small slds-media slds-media_center"
                        style="background-color:white;">
                        <div class="slds-media__body">
                            <div class="visitor-name-div" style="font-weight: bold;">
                                {selectedAccount.Name}
                            </div>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse">
                            <lightning-button-icon size="x-small" icon-name="utility:close" onclick={deselectAccount}
                                alternative-text="Close window"></lightning-button-icon>
                        </div>
                    </div>

                    <div if:true={showError}>
                        <span class="slds-required required">Complete this field.</span>
                    </div>

                    <div id="typeahead_dropdown" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid"
                        role="listbox" onclick={comboboxDropdownClicked} tabindex="0">
                        <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                            <template for:each={accountList} for:item="account">
                                <li key={account.Id} data-id={account.Id} role="presentation" class="slds-listbox__item"
                                    onclick={selectAccount}>
                                    <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_center"
                                        style="width: 100%;">
                                        <div class="slds-media__body">
                                            <div class="visitor-name-div" style="font-weight: bold;">
                                                {account.Name}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </template>
                            <li if:true={isListEmpty}>
                                <div
                                    class="slds-media slds-listbox__option slds-listbox__option_plain slds-text-color_error slds-media_small">
                                    No matching Records!!
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template if:true={selectedValue}>
    SELECTED ACCOUNT : {selectedValue}
    </template> 
</template>